body, button, p ,input{
	font-family: 'Merriweather', serif;
}

ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.navbar{
	display:flex; 
	justify-content: space-between;
	margin: 10px;
}

body{
	margin:0px;
}

.mainButton{
	background-color: rgb(14, 0, 138);
	color:white;
	border: 0px;
	padding: 5px 10px;
	border-radius: 10px;
	font-weight: bolder;
}

.mainButton:hover{
	cursor: pointer;
	box-shadow: 3px 3px grey;
	transform: scale(1.1);
}
